.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.card {
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  padding: 12px 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text--description{
  font-size: 14px;
  color: #c7c7c7;
}
